<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %}Chat Application {%endblock title %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&display=swap" rel="stylesheet">

    <style>
        *{
            font-family: 'Cherry Swash', cursive;
        }
    </style>
</head>
<body class="bg-teal-600">

    <nav class="flex items-center justify-between px-4 py-6 bg-teal-800">
        <div>
            <a href="/" class="text-xl text-white">Home</a>
        </div>

        {% if request.user.is_authenticated %}
        <div class="flex items-center space-x-4">
            <a href="/rooms/" class="text-white hover:text-gray-200">Chat Room</a>

            <a href="/logout/" class="text-white px-5 py-3 rounded-xl bg-teal-600 hover:bg-teal-700">Logout</a>
        </div>

        {%else %}
        <div class="flex items-center space-x-4">
            <a href="/login/" class="text-white hover:text-gray-200">Login</a>

            <a href="/signup/" class="text-white px-5 py-3 rounded-xl bg-teal-600 hover:bg-teal-700">Sign UP</a>
        </div>

        {% endif %}

        
    </nav>

    {% block content %}

    {%endblock content %}

    
    

    <script src="https://cdn.tailwindcss.com"></script>

    {%block script %}

    {%endblock script %}
</body>
</html>