{% extends 'chat/base.html' %}

{% block title %}Login{% endblock %}


{% block content %}
<div class="p-10 lg:p-20 text-center">
    <div class="text-3xl lg:text-6xl text-white">
        Login        
    </div>
</div>

<div class="lg:w-1/4 px-4 mx-auto">
    <div class="mb-5">
        <label for="" class="text-white">Username</label>
        <input type="text" name="username" class="w-full mt-2px-4 py-2 rounded-xl">
    </div>

    <div class="mb-5">
        <label for="" class="text-white">Password</label>
        <input type="password" name="password" class="w-full mt-2px-4 py-2 rounded-xl">
    </div>


    <button onclick="submitForm()" class="px-5 py-3 rounded-xl text-white bg-teal-800 hover:bg-teal-700">
        Submit
    </button>
</div>


{% endblock %}

{% block script %}
<script>
    function submitForm() {
       

        fetch('/login/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                username: document.getElementsByName('username')[0].value,
                password: document.getElementsByName('password')[0].value,
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status == 'success') {
                window.location.href = '/rooms/'
            } else {
                alert("need to add validation")
            }
        })
        .catch(error => {
            console.error(error)
        })
    }
</script>

{% endblock script %}